{:tasks {bundle:none {:task (shell "pnpm rollup --config rollup.config.js -m")}

         bundle:default {:task (shell "pnpm rollup --config rollup.config.js -m")}

         bundle {:depends [bundle:default]}

         compile:cljs {:task (shell "clojure -M -m cljs.main -co build.edn -v -c")}

         clean {:task (shell "rm -Rf resources/js")}

         watch:cljs {:task (shell "clojure -M -m cljs.main -co build.edn -v -w src -c")}

         watch:js {:task (shell "pnpm rollup --config rollup.config.js --sourcemap --watch")}

         repl:cljs {:task (shell "clj -M -m cljs.main -co build.edn -v -c -r")}}}
