{:tasks {bundle:none {:task (shell "pnpm rollup --config rollup.config.js -m")}

         bundle:default {:task (shell "pnpm rollup --config rollup.config.js -m")}

         bundle {:depends [bundle:default]}

         build {:task (shell "clj -M -m cljs.main -co build.edn -v -c")}

         clean {:task (shell "rm -Rf resources/js")}

         watch {:task (shell "clj -M -m cljs.main -co build.edn -v -w src -c")}

         repl:cljs {:task (shell "clj -M -m cljs.main -co build.edn -v -c -r")}}}
