{:main inferenceql.publish.client
 :output-to "resources/js/index.js"
 :output-dir "resources/js"
 :asset-path "js"
 :target :bundle
 :closure-defines {cljs.core/*global* "window"}} ; needed for advanced
