{:paths ["src" "resources" "target/classes"]

 :deps {babashka/fs {:mvn/version "0.1.6"}
        borkdude/dynaload {:mvn/version "0.3.5"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
        com.cognitect/transit-clj {:mvn/version "1.0.329"}
        com.cognitect/transit-cljs {:mvn/version "0.8.280"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        io.github.OpenGen/GenSQL.gpm.sppl {:git/sha "718de40878766bb8d08acc2b429a76ed662a1352"}
        io.github.OpenGen/GenSQL.inference {:git/sha "689fe740dead93f3ba349a88efa52f2544aa138b"}
        io.github.OpenGen/GenSQL.query {:git/sha "32adb67ff07c1bba67255384adbe30d80d4e0f9f"}
        lambdaisland/fetch {:mvn/version "1.0.41"}
        metosin/reitit {:mvn/version "0.5.18"}
        org.asciidoctor/asciidoctorj {:mvn/version "2.5.3"}
        org.babashka/cli {:mvn/version "0.3.35"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.jsoup/jsoup {:mvn/version "1.15.2"}
        ring-middleware-format/ring-middleware-format {:mvn/version "0.7.5"}
        ring-refresh/ring-refresh {:mvn/version "0.1.2"}
        ring/ring-core {:mvn/version "1.9.5"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}}

 :aliases {:build {:extra-paths ["build"]
                   :extra-deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
                   :ns-default build}
           :dev {:extra-paths ["dev"]
                 :extra-deps {org.clojure/tools.namespace {:mvn/version "1.3.0"}}}
           :run {:main-opts ["-m" "gensql.publish"]}
           :sppl {:extra-deps {io.github.OpenGen/GenSQL.gpm.sppl {:git/sha "718de40878766bb8d08acc2b429a76ed662a1352"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                               org.clojure/test.check {:mvn/version "0.10.0"}}
                  :exec-fn cognitect.test-runner.api/test}}

 :deps/prep-lib {:alias :build
                 :fn build
                 :ensure "target"}}
