{:paths ["src" "resources" "target/classes"]

 :deps {babashka/fs {:mvn/version "0.1.6"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
        com.cognitect/transit-clj {:mvn/version "1.0.329"}
        com.cognitect/transit-cljs {:mvn/version "0.8.280"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        io.github.inferenceql/inferenceql.gpm.sppl {:git/sha "594d4bced407826129723e84907954ebab71b315"}
        io.github.inferenceql/inferenceql.inference {:git/sha "e1dcd0f2721dcdef388f8270dc9bd80eecde3ef9"}
        io.github.inferenceql/inferenceql.query {:git/sha "adcae9503cc40a589e8c7df0c94aa859a79e866d"}
        lambdaisland/fetch {:mvn/version "1.0.41"}
        metosin/reitit {:mvn/version "0.5.18"}
        org.asciidoctor/asciidoctorj {:mvn/version "2.5.3"}
        org.babashka/cli {:mvn/version "0.3.35"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.jsoup/jsoup {:mvn/version "1.15.2"}
        ring-middleware-format/ring-middleware-format {:mvn/version "0.7.5"}
        ring-refresh/ring-refresh {:mvn/version "0.1.2"}
        ring/ring-core {:mvn/version "1.9.5"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}}

 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {org.clojure/tools.namespace {:mvn/version "1.3.0"}}}
           :build {:extra-paths ["build"]
                   :extra-deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
                   :ns-default build}
           :exec {:main-opts ["-m" "babashka.cli.exec" "inferenceql.publish" "-main"]}}

 :deps/prep-lib {:alias :build
                 :fn build
                 :ensure "target/classes"}}
