{"medical_history_gastrointestinal" :nominal, "gleason_grade" :nominal, "censored" :nominal, "trials_d" :ignore, "log_bilirubin" :numerical, "medical_history_musculoskeletal" :nominal, "medical_history_psychiatric" :nominal, "medical_history_allergic" :nominal, "log_alt" :numerical, "medical_history_drug" :nominal, "prev_radiation" :nominal, "log_ast" :numerical, "medical_history_endocrine" :nominal, "medical_history_respiratory" :nominal, "lymph_node_category" :nominal, "agegrp" :nominal, "log_time" :numerical, "medical_history_urinary" :nominal, "log_psa" :numerical, "prev_prostatectomy" :nominal, "medical_history_head" :nominal, "stage" :nominal}
