{"ecog_performance_status" :nominal, "SUBJ" :ignore, "quality_of_life" :numerical, "education" :nominal, "age" :numerical, "marital_status" :nominal, "bmi" :nominal, "race_ethnicity" :nominal, "previous_radiotherapy" :nominal, "health_outcome" :nominal, "region" :nominal, "log_total_healthcare_expenditure" :numerical, "log_time_to_outcome" :numerical, "insurance_coverage" :nominal, "MEPSID" :ignore, "previous_chemotherapy" :nominal, "employment_status" :nominal, "log_psa_baseline" :numerical}
